{% extends "todoapp/base.html" %}

{% block title %} Todo List {% endblock %} 

{% block content %}
    <h1>{{ ls.name }}</h1>
    <form method="POST" action="#">
        {% csrf_token %}
        <ul>
            {% for item in ls.item_set.all %}
                {% if item.completed == True %}
                    <li><input type="checkbox" value="checked", name="c{{ item.id }}" checked>{{ item.text }}</li>
                {% else %}
                    <li><input type="checkbox" value="checked", name="c{{ item.id }}">{{ item.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit", name="save", value="save">Save</button><br>
        <input type="text" name="item"><br>
        <button type="submit", name="addItem", value="addItem">Add Item</button>
    </form>
{% endblock %}
